@model Users

<form method="post">

    <input type="text"
           name="usuario"
           placeholder="Usuario" />

    <input type="text"
           name="correo"
           placeholder="Correo" />

    <input type="password"
           name="contraseña"
           placeholder="Contraseña" />

    <button type="submit">
        Guardar
    </button>

</form>